[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/picoruby"]
	path = lib/picoruby
	url = git@github.com:picoruby/picoruby.git
[submodule "lib/Pico-PIO-USB"]
	path = lib/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
[submodule "mrbgems/picoruby-dvi/lib/fonts/font8x8"]
	path = mrbgems/picoruby-dvi/lib/fonts/font8x8
	url = https://github.com/dhepper/font8x8
[submodule "mrbgems/picoruby-dvi/lib/fonts/misc-misc"]
	path = mrbgems/picoruby-dvi/lib/fonts/misc-misc
	url = https://gitlab.freedesktop.org/xorg/font/misc-misc.git
[submodule "mrbgems/picoruby-dvi/lib/fonts/spleen"]
	path = mrbgems/picoruby-dvi/lib/fonts/spleen
	url = https://github.com/fcambus/spleen.git
[submodule "mrbgems/picoruby-dvi/lib/fonts/x8y12pxDenkiChip"]
	path = mrbgems/picoruby-dvi/lib/fonts/x8y12pxDenkiChip
	url = https://github.com/hicchicc/x8y12pxDenkiChip.git
[submodule "mrbgems/picoruby-dvi/lib/fonts/adobe-75dpi"]
	path = mrbgems/picoruby-dvi/lib/fonts/adobe-75dpi
	url = https://gitlab.freedesktop.org/xorg/font/adobe-75dpi.git
[submodule "vendor/harucom-os-dict"]
	path = vendor/harucom-os-dict
	url = git@github.com:harukasan/harucom-os-dict.git
